.menuContainer {
    background-color: black;
    opacity: 70%;
}

.opacityMedium {
    opacity: 70%;
}

.opacityCero {
    opacity: 0;
}

.inputContainer {
    margin-top: 3.5px;
    margin-bottom: 4px;
}

.inputScrollBar {
    scrollbar-width: none;
}

.inputLabel {
    font-size: 14px;
}

.inputValue {
    margin-bottom: -6px;
    font-size: 36px;
}

.inputValue2 {
    font-size: 30px;
}

.inputValue3 {
    font-size: 26px;
}

.outputContainer {
    padding: 4px;
}

.outputCard {
    padding-top: 1px;
    padding-bottom: 1px;
}

.outputLabel {
    font-size: 14px;
}

.outputValue {
    font-size: 20px;
    margin-bottom: 2px;
}

.outputRateInfo {
    font-size: 12px;
    padding-top: 2px;
}

.keypadButton {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}


@media (max-height: 599px) {

    .inputScrollBar {
        scrollbar-width: thin;
    }

    .inputContainer {
        /*background-color: #4F46E5; /* slate-600 */
        /* background-color: #4338CA; */
        /* slate-700 */
        background-color: #3730A3; /* slate-800
        /*background-color: #312E81; /* slate-900 */
        margin-top: 1.5px;
        margin-bottom: 1.5px;
    }

    .inputLabel {
        font-size: 12px;
    }

    .inputValue {
        margin-bottom: 0px;
        padding-top: 0px;
        font-size: 22px;
    }

    .inputResult {
        font-size: 16px;
    }

    .keypadButton {
        font-size: 14px;
    }

    .outputContainer {
        padding: 2.5px 4px;
    }

    .outputCard {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .outputLabel {
        font-size: 10px;
    }

    .outputValue {
        font-size: 16px;
        margin-top: -3px;
        margin-bottom: -2px;

    }

    .outputRateInfo {
        font-size: 9px;
    }
}

@media (min-height: 600px) and (max-height: 700px) {

    .inputValue {
        margin-top: 0;
        padding-top: 1px;
        font-size: 26px;
    }

    .inputValueFont {
        font-size: 26px;
    }

    .inputValueFont2 {
        font-size: 22px;
    }

    .inputValueFont3 {
        font-size: 18px;
    }

    .outputContainer {
        padding: 2px 4px;
    }

    .outputCard {
        padding-top: 2px;
        padding-bottom: 1px;
    }

    .outputLabel {
        font-size: 10px;
    }

    .outputValue {
        font-size: 16px;
        margin-top: -3px;
        margin-bottom: -2px;

    }

    .outputRateInfo {
        font-size: 8px;
    }
}

@media (min-height: 701px) and (max-height: 800px) {

    .inputValueFont {
        font-size: 32px;
    }

    .inputValueFont2 {
        font-size: 27px;
    }

    .inputValueFont3 {
        font-size: 22px;
    }

    .outputContainer {
        padding: 3px 4px;
    }

    .outputCard {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .outputLabel {
        font-size: 12px;
    }

    .outputRateInfo {
        font-size: 10px;
    }
}

@media (min-height: 801px) and (max-height: 900px) {

    .inputValue {
        margin-top: 0;
        padding-top: 1px;
    }

    .inputValueFont {
        font-size: 32px;
    }

    .inputValueFont2 {
        font-size: 27px;
    }

    .inputValueFont3 {
        font-size: 22px;
    }

    .outputCard {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .outputLabel {
        font-size: 13px;
    }

    .outputValue {
        font-size: 22px;
    }

    .outputRateInfo {
        font-size: 11px;
    }
}

@media (min-height: 901px) and (max-height: 1000px) {

    .inputValue {
        margin-top: 0;
        padding-top: 1px;
    }

    .inputValueFont {
        font-size: 36px;
    }

    .inputValueFont2 {
        font-size: 30px;
    }

    .inputValueFont3 {
        font-size: 24px;
    }

    .keypadButton {
        font-Size: 22px;
    }

    .outputCard {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .outputValue {
        font-size: 22px;
    }
}

@media (min-height: 1001px) and (max-height: 1100px) {

    .inputValueFont {
        font-size: 38px;
    }

    .inputValueFont2 {
        font-size: 31px;
    }

    .inputValueFont3 {
        font-size: 24px;
    }

    .keypadButton {
        font-size: 24px;
    }

    .outputCard {
        padding-top: 7px;
        padding-bottom: 6px;
    }

    .outputValue {
        font-size: 22px;
    }
}

@media (min-height: 1101px) and (max-height: 1200px) {

    .inputValueFont {
        font-size: 38px;
    }

    .inputValueFont2 {
        font-size: 31px;
    }

    .inputValueFont3 {
        font-size: 24px;
    }

    .keypadButton {
        font-size: 28px;
    }

    .outputCard {
        padding-top: 6px;
        padding-bottom: 5px;
    }

    .outputLabel {
        font-size: 16px;
    }

    .outputValue {
        font-size: 26px;
    }

    .outputRateInfo {
        font-size: 14px;
    }
}

@media (min-height: 1201px) and (max-height: 1300px) {

    .inputValueFont {
        font-size: 40px;
    }

    .inputValueFont2 {
        font-size: 32px;
    }

    .inputValueFont3 {
        font-size: 24px;
    }

    .keypadButton {
        font-size: 32px;
    }

    .outputCard {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .outputLabel {
        font-size: 16px;
    }

    .outputValue {
        font-size: 30px;
    }

    .outputRateInfo {
        font-size: 14px;
    }
}

@media (min-height: 1301px) {

    .inputValue {
        margin-bottom: 10px;
    }

    .inputValueFont {
        font-size: 40px;
    }

    .inputValueFont2 {
        font-size: 32px;
    }

    .inputValueFont3 {
        font-size: 24px;
    }

    .keypadButton {
        font-size: 32px;
    }

    .outputCard {
        padding-top: 10px;
        padding-bottom: 8px;
    }

    .outputLabel {
        font-size: 18px;
    }

    .outputValue {
        font-size: 30px;
    }

    .outputRateInfo {
        font-size: 16px;
    }
}